<!DOCTYPE html><html><head><meta charset=utf-8><title>vue-admin-lte</title><meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name=viewport><link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css><style>@font-face {
    font-family: 'FontAwesome';    
    src: url('/static/fonts/fontawesome-webfont.af7ae50.woff2');
    font-weight: normal;
    font-style: normal;
}</style><link href=/static/css/app.50bff703b8fe1044040c24c8f0d5c683.css rel=stylesheet></head><body class="skin-blue sidebar-mini"><div id=app></div><script type=text/javascript src=/static/js/manifest.3f6e8c22bc28981b0d81.js></script><script type=text/javascript src=/static/js/vendor.e3e667a4debd47d95536.js></script><script type=text/javascript src=/static/js/app.d1ef78697953f2f99000.js></script></body></html>